{% extends "layout.html" %}
{% block page_title %} Welcome to Guru Nanak College{% endblock %}
{% block body %}
    {{ super() }}

   
    <p>The Guru Nanak College was established in the year 1971 as a Unit of Guru Nanak Educational Society to mark the 500th birthday of the great Shri Guru Nanak Devji, founder of the Sikh Religion. The objective of the college is to spread the ideals of universal brotherhood, oneness of God, communal harmony and welfare to all communities. The College is being run as a minority community college within the meaning of articles 29 and 30 of the Indian Constitution.
    
The college provides a quiet and ideal setting amidst natural surroundings. It is located on the Velachery-Tambaram Road within a verdant 20 acre campus gifted by the Government of Tamil Nadu for the development of an Arts & Science College.

The institution admits students as per the government norms. 30% of the total strength in each course is reserved for women students. Admission is open to trans-genders also. The College is now ranked among the top ten colleges in Chennai.</p>
{% endblock %}