
<html>
<meta charset="utf-8"><meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="{{ url_for('static', filename='css/bootstrap.min.united.css') }}">
<link rel="stylesheet" href="{{ url_for('static', filename='css/bootstrap.min.head.css') }}">
<link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
<script src="{{ url_for('static', filename='js/jquery.min.js') }}"></script>
<script src="{{ url_for('static', filename='js/bootstrap.min.js') }}"></script>
<script src="{{ url_for('static', filename='js/array.js') }}"></script>
<script src="{{ url_for('static', filename='js/file.js') }}"></script>  
<script src="{{ url_for('static', filename='js/language.js') }}"></script>
<script src="{{ url_for('static', filename='js/leagueschedulemanager.js') }}"></script>
<script src="{{ url_for('static', filename='js/match.js') }}"></script>
<script src="{{ url_for('static', filename='js/table.js') }}"></script>
<script src="{{ url_for('static', filename='js/util.js') }}"></script>
<title>Guru Nanak</title>
    <nav class="navbar navbar-inverse">
    <div class="container-fluid">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
            </button>
        </div>

        <div class="head">
          <img
          src="{{ url_for('static', filename='img/gnc1.jpg') }}"
          border="0"
          align="left">
             <h1 class="text-center">Guru Nanak College</h1>
             <h3 class="text-center">Velchery,Chennai </h3>
             
            </div> 

        <div class="collapse navbar-collapse" id="myNavbar">
        <ul class="nav navbar-nav">
            <li><a href="/">Home</a></li>
            <li><a href="/league">league Scheduler</a></li>
            <li><a href="/about">About</a></li>
            <li><a href="/contact">Contact Us</a></li>
            {% if session.get("current_user", None) != None %}
	       <li><a href="/student/">Student</a></li>
    	    {% endif%}
            {% if session.get("current_user", None) == "ADMIN" %}
	      <li><a href="/admin">Admin Dashboard</a></li>
	    {% endif %}
        </ul>
        
        <ul class="nav navbar-nav navbar-right">
        {% if session.get("current_user", None) == None %}
                <form action="/login" method="post" class="navbar-form navbar-right">
                    <div class="form-group">
                      <input type="text" name="id" placeholder="User Name" class="form-control">
                    </div>
                    <div class="form-group">
                      <input type="password" name="pw" placeholder="Password" class="form-control">
                    </div>
                    <button type="submit" class="btn btn-success">Log In</button>
                </form>
        {% else %}
        <li>
              <a><b>{{ session.get("current_user") }}</b></a></li>
              <li><a href="/logout"><b><u>Logout</u></b></a>
          </li>
        {% endif %}
        </ul>
        </div>
                        
    </div>
    </nav>


<div class="container">
  
  <h1>{% block page_title %}My Page{% endblock %}</h1>
  
  <p>{% block body %}{% endblock %}</p>

</div>



</html>
